@import url("../fonts.css");
html {
  box-sizing: border-box;
  font-size: 62.5%; }
  html *,
  html *:before,
  html *:after {
    box-sizing: inherit; }

body {
  font-family: 'SamsungSharpSans', 'SamsungOne', arial, sans-serif; }

.center {
  text-align: center !important; }

a {
  text-decoration: none; }

.topmargin1 {
  margin-top: 7.5rem; }

.btn {
  text-transform: uppercase;
  color: #001320;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Samsung One";
  transition: .5s all; }
  .btn--white {
    padding: 1.6rem 5rem;
    border-radius: 30px;
    border: 1px solid black; }
    .btn--white:hover {
      background-color: black;
      color: white; }
  .btn--underline {
    position: relative;
    font-size: 1.3rem; }
    .btn--underline:hover {
      color: black;
      transform: translate(-0.5px, -0.7px);
      transition: none; }
    .btn--underline:after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: -2px;
      width: 90%;
      height: 2px;
      border-bottom: 1px solid black;
      transform: translateX(-50%); }

.heading-primary {
  line-height: 2.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.9rem;
    letter-spacing: 0px;
    color: #000000;
    font-family: "DejaVuSans,AdobeInvisFont,MyriadHebrew-Regular,SamsungSharpSansK-Bold"; }
  .heading-primary--sub {
    font-weight: normal;
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0px;
    color: #001320;
    font-family: "Samsung One";
    text-align: center;
    font-weight: bold; }
  .heading-primary--little {
    font-weight: normal;
    font-family: "Samsung One";
    font-size: 1.8rem; }
    .heading-primary--little span {
      display: block; }

.heading-secondary {
  font-size: 3.6rem;
  letter-spacing: 0px;
  color: #000000;
  font-weight: bold;
  font-family: "Samsung Sharp Sans K";
  text-align: center; }
  .heading-secondary span {
    display: block; }

.simpletext {
  font-size: 2.6rem;
  font-family: 'Samsung One'; }

.navigation {
  background-color: white;
  position: relative;
  padding: .9rem 7rem .9rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black; }
  .navigation--search {
    font-size: 80rem; }
  .navigation--menu {
    margin: 0 auto; }
    .navigation--menu ul {
      margin: 0;
      list-style: none;
      text-align: left; }
      .navigation--menu ul li {
        float: none;
        display: inline-block; }
        .navigation--menu ul li:not(:last-child), .navigation--menu ul li:not(:first-child) {
          margin: 0 1.5rem; }
        .navigation--menu ul li:first-child {
          margin: 0 !important; }
        .navigation--menu ul li:last-child {
          margin: 0; }
        .navigation--menu ul li:nth-child(n+5) {
          float: right; }
  .navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8); }
  .navigation--logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 9.5rem; }

@media (max-width: 1200px) {
  .navigation {
    padding: .9rem 0rem;
    font-size: 1.2rem; }
    .navigation li:first-child, .navigation li:last-child {
      margin: 0 !important; }
    .navigation a {
      text-transform: none; } }

.imgdesktop {
  width: 100%; }

.header {
  position: relative;
  margin-bottom: 9.2rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__links .btn:first-child {
      margin-right: 2rem; }
    .header__links .btn--white {
      font-size: 1.5rem; }

.promo {
  margin: 10rem 0; }
  .promo--boxes {
    display: flex;
    margin: 8.5rem 0;
    justify-content: center; }
  .promo--box {
    width: 20%;
    margin-right: 8rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Samsung One";
    position: relative; }
    .promo--box:last-child:after {
      content: none; }
    .promo--box:after {
      content: "";
      display: block;
      position: absolute;
      right: -55px;
      top: 50px;
      width: 12px;
      height: 12px;
      background-color: #000;
      border-radius: 50%; }
  .promo .btn {
    font-size: 1.2rem;
    text-align: center; }

.input-block {
  display: flex;
  flex-direction: column; }

.contact-wrap p {
  font-size: 1.3rem; }

.contact-wrap .btn {
  margin-top: 3rem; }

.contact-form {
  margin: 0 auto;
  padding: 7rem 5rem 5rem 5rem;
  border: 0.1px solid #acabab;
  font-size: 1.4rem;
  font-family: "DejaVuSans,AdobeInvisFont,MyriadHebrew-Regular,SamsungOne-700"; }

.checkbox-block {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .checkbox-block input {
    margin-right: 15px;
    height: 2.3rem;
    width: 2.3rem; }

.input-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  margin-bottom: 2rem; }
  .input-blocks input,
  .input-blocks textarea {
    border: 0.1px solid #acabab;
    height: 5rem;
    max-height: 5rem; }

.btn-submit {
  grid-column: 2; }

.fullwidth {
  grid-column: span 2; }

.phones .btn {
  padding: 1.6rem 7.5rem !important; }

.phones img {
  width: 100%; }

.phones table {
  width: 60%;
  border-collapse: collapse;
  font-weight: normal;
  margin: 8rem auto;
  border: 1px solid #DEDDDD; }
  .phones table tr td {
    text-align: center;
    font-size: 1.7rem;
    font-family: "SamsungOne-400";
    border-bottom: 1px solid #DEDDDD; }
  .phones table tr th,
  .phones table tr td {
    padding: 1.8rem 0; }
  .phones table tr th {
    font-size: 2.5rem;
    font-family: "SamsungOne-800";
    background-color: #DEDDDD; }

@media (min-width: 1440px) {
  .contact-wrap {
    width: 35% !important;
    margin: auto; } }

@media (max-width: 768px) {
  .phones table {
    width: 90%; } }
