.heading-primary {

    line-height: 2.5rem;

    &--main {
        display: block;
        font-size: calc(45px + (59 - 45) * ((100vw - 767px) / (1600 - 767)));
        letter-spacing: 0px;
        // line-height: 85px;
        color: #000000;
        font-family: "DejaVuSans,AdobeInvisFont,MyriadHebrew-Regular,SamsungSharpSansK-Bold"

    }

    &--sub {
        font-weight: normal;
        display: block;
        font-size: calc(20px + (25 - 20) * ((100vw - 767px) / (1600 - 767)));
        letter-spacing: 0px;
        color: #001320;
        font-family: "Samsung One";
        text-align: center;
        font-weight: bold;
    }

    &--little {
        font-weight: normal;
        font-family: "Samsung One";
        font-size: calc(16px + (18 - 16) * ((100vw - 767px) / (1600 - 767)));

        span {
            display: block;
        }
    }
}

.heading-secondary {
    font-size: calc(25px + (36 - 25) * ((100vw - 768px) / (1600 - 768)));
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    font-family: "Samsung Sharp Sans K";
    text-align: center;

    span {
        display: block;
    }
}

.simpletext {
    font-size: calc(22px + (26 - 22) * ((100vw - 767px) / (1600 - 767)));
    font-family: 'Samsung One';

    span {
        @media (max-width:425px) {
            display: block;
        }
    }
}