.heading-primary {

    line-height: 2.5rem;

    &--main {
        display: block;
        font-size: 5.9rem;
        letter-spacing: 0px;
        // line-height: 85px;
        color: #000000;
        font-family: "DejaVuSans,AdobeInvisFont,MyriadHebrew-Regular,SamsungSharpSansK-Bold"

    }

    &--sub {
        font-weight: normal;
        display: block;
        font-size: 2.5rem;
        letter-spacing: 0px;
        color: #001320;
        font-family: "Samsung One";
        text-align: center;
        font-weight: bold;
    }

    &--little {
        font-weight: normal;
        font-family: "Samsung One";
        font-size: 1.8rem;

        span {
            display: block;
        }
    }
}

.heading-secondary {
    font-size: 3.6rem;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    font-family: "Samsung Sharp Sans K";
    text-align: center;

    span {
        display: block;
    }
}

.simpletext {
    font-size: 2.6rem;
    font-family: 'Samsung One';
}