.heading-primary {

    line-height: 2.5rem;

    &--main {
        display: block;

        font-size: calc(25px + (59 - 25) * ((100vw - 321px) / (1600 - 321)));
        letter-spacing: 0px;
        // line-height: 85px;
        color: #000000;
        font-family: "DejaVuSans,AdobeInvisFont,MyriadHebrew-Regular,SamsungSharpSansK-Bold"

    }

    &--sub {
        font-weight: normal;
        display: block;
        font-size: calc(15px + (25 - 15) * ((100vw - 321px) / (1600 - 321)));
        letter-spacing: 0px;
        color: #001320;
        font-family: "Samsung One";
        text-align: center;
        font-weight: bold;
    }

    &--little {
        font-weight: normal;
        font-family: "Samsung One";
        font-size: calc(10px + (18 - 10) * ((100vw - 321px) / (1600 - 321)));

        span {
            display: block;
        }
    }
}

.heading-secondary {
    font-size: calc(25px + (36 - 25) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    font-family: "Samsung Sharp Sans K";
    text-align: center;

    span {
        display: block;
    }
}

.simpletext {
    font-size: 2.6rem;
    font-family: 'Samsung One';
}