@import 'base';
@import 'buttons';
@import 'typography';
@import 'components/navigation';
@import 'components/header';
@import 'components/promo';

@media (max-width: 1200px) {
    .navigation {
        font-size: 95%;
    }
}

@media (max-width: 950px) {
    .navigation {
        font-size: 80%;
    }
}

@media (max-width: 850px) {
    .navigation {
        font-size: 75%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 20.5%;
    }

    .navigation {
        position: relative;
        // padding: 2.5rem 0;
        // border-bottom: 1px solid black;

        &--menu {
            display: none;
        }


        // &--logo {
        //     img {
        //         position: relative;
        //         // top: 50%;
        //         // left: 6%;
        //         transform: translate(-50%, -50%);
        //         // height: 9.5rem;
        //     }

        // }
    }

}