.header {
    // height: 75vh;
    // background:
    //     url(../img/samsung_delivers-1440.jpg) 50% 50% no-repeat;
    // background-size: cover;
    // background-position: top;
    position: relative;
    margin-bottom: 9.2rem;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            &:first-child {
                margin-right: 2rem;
            }

            &--white {
                font-size: 1.5rem;
            }
        }
    }
}

.imgphone {
    width: 100%;
    display: none;
}

@media (max-width: 768px) {
    .imgdesktop {
        display: none;
    }

    .imgphone {
        display: inherit;
    }

    .header {

        &__text-box {
            margin: 5rem 0;
            position: inherit;
            text-align: center;
        }
    }
}