.navigation {
    background-color: white;
    position: relative;
    padding: .9rem 7rem .9rem 2rem;
    font-size: calc(5px + (14 - 5) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: black;

    &--search {
        font-size: 80rem;
    }

    &--menu {
        margin: 0 auto;

        ul {
            margin: 0;
            list-style: none;
            text-align: left;

            li {
                float: none;
                display: inline-block;
                // width: 50px;

                &:not(:last-child),
                &:not(:first-child) {
                    margin: 0 1.5rem;
                }

                &:first-child {
                    margin: 0 !important;
                }

                &:last-child {
                    margin: 0;
                }

                &:nth-child(n+5) {
                    float: right;
                }
            }

        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);


    }

    &--logo {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 9.5rem;
        }

    }
}

@media (max-width: 768px) {
    .navigation {
        &--menu {
            display: none;
            padding: 0 5rem;
        }

        &--logo {
            // margin-left: 25rem;

            img {
                position: inherit;
                text-align: left;
            }
        }
    }
}


@media (max-width: 1200px) {
    .navigation {
        padding: .9rem 0rem;
        // font-size: 1.2rem;

        li {

            &:first-child,
            &:last-child {
                margin: 0 !important;
            }
        }

        a {
            // text-transform: none;
        }
    }
}

.imgdesktop {
    width: 100%;
}