.navigation {
    background-color: white;
    position: relative;
    padding: 0rem 5rem;
    height: 45px;
    font-size: calc(5px + (14 - 5) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: black;


    &--moblogo {
        display: none;
        float: left;
        width: 100%;

        @media (max-width:767px) {
            display: block;
        }
    }

    &--search {
        font-size: 80rem;
    }

    &--menu {
        margin: 0 auto;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;

                padding: 15px 7px;
                text-transform: capitalize;
                border-bottom: 1px solid transparent;

                @media (max-width:767px) {
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid #cacaca;
                    padding: 8px 15px;
                }

                a {
                    display: inline-block;
                    color: #000;
                    text-decoration: none;

                    @media (max-width:767px) {
                        color: #fff;
                        display: block;
                    }
                }
            }
        }

        .left {
            display: inline-block;
            text-align: left;
            // width: 45%;
            float: left;
        }

        .right {
            display: inline-block;
            text-align: right;
            float: right;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);


    }

    &--logocenter {
        width: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width:767px) {
            display: none;
        }

    }
}

@media (max-width: 768px) {
    .navigation {
        height: 0;

        &--menu {
            display: none;
        }

        &--logo {
            // margin-left: 25rem;

            img {
                position: inherit;
                text-align: left;
            }
        }
    }
}


@media (max-width: 1200px) {
    .navigation {
        // padding: .9rem 0rem;
        // font-size: 1.2rem;

        li {

            &:first-child,
            &:last-child {
                margin: 0 !important;
            }
        }

        a {
            // text-transform: none;
        }
    }
}

.imgdesktop {
    width: 100%;
}