.clearfix {
    clear: both;
}

.center-outer {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    header {
        display: block;
        text-align: center;
        padding: 1rem 8rem;
        position: relative;
        font-size: calc(8.5px + (14 - 8.5) * ((100vw - 768px) / (1600 - 768)));
        background-color: white;


        @media (max-width:768px) {
            padding: 1px 8px;
        }

        .nav {
            @media (max-width:768px) {
                width: 170px;
                right: -1000px;
                background: #000;
                color: #000;
                height: 100%;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                padding: 5px 8px;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;

                i {
                    font-size: calc(10px + (16 - 10) * ((100vw - 768px) / (1600 - 768)));
                }

                @media (max-width:768px) {
                    display: none;
                    text-align: left;
                    border-bottom: 1px solid #cacaca;
                }

                a {
                    display: inline-block;
                    color: #000;
                    text-decoration: none;

                    @media (max-width:768px) {
                        color: #fff;
                        display: block;
                    }
                }
            }

        }

        .menu-left {
            display: inline-block;
            text-align: left;
            width: 45%;
            float: left;
        }

        .logo-center {
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);


            @media (max-width:768px) {
                position: inherit;
                display: none;
            }

            img {
                height: calc(50px + (80 - 50) * ((100vw - 768px) / (1600 - 768)));
                display: inline-block;

                @media (max-width:768px) {
                    display: none;
                }
            }
        }

        .mob-logo {
            display: none;
            float: left;
            width: 10%;

            p {
                width: 100%;
                font-size: 16px;
                color: rgb(8, 8, 141);
                text-transform: uppercase;
                letter-spacing: 5px;
                padding: 0;
                margin: 0;
            }

            @media (max-width:768px) {
                display: block;
            }
        }

        .toggleNav {
            display: none;
            float: right;

            i:first-child {
                margin-right: 10px;
            }

            @media (max-width:768px) {
                display: block;
                font-size: 16px;

            }
        }

        .menu-right {
            display: inline-block;
            text-align: right;
            width: 45%;
            float: right;
        }

        .menu-left,
        .menu-right {
            @media (max-width:767px) {
                float: none;
                display: block;
                width: 100%;
            }
        }
    }

}