.promo {

    margin: 10rem 0;

    &--boxes {
        display: flex;
        margin: 8.5rem 0;
        justify-content: center;
    }

    &--box {
        width: 20%;
        margin-right: 8rem;
        font-size: 2rem;
        text-align: center;
        font-family: "Samsung One";
        position: relative;

        &:last-child:after {
            content: none;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: -55px;
            top: 50px;
            width: 12px;
            height: 12px;
            background-color: #000;
            border-radius: 50%;
        }
    }

    .btn {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .promo {

        margin: 10rem 5rem;

        &--boxes {
            display: flex;
            flex-direction: column;
            margin: 4rem auto;
            justify-content: center;
        }

        &--box {
            width: 100%;
            font-size: 2rem;
            text-align: center;
            font-family: "Samsung One";
            position: relative;

            &:last-child:after {
                content: none;
            }

            &:after {
                content: none;
            }
        }


    }
}